* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Roboto, Arial, Helvetica, sans-serif;
}

body {
    overflow-y: hidden;
}

header {
    height: 80px;
    background-color: #185c66;
    border-bottom: 2px solid #547a8c;
}

header .header-image {
    display: flex;
    justify-content: center;
    padding: 5px;
}

header .header-image a {
    display: flex;
    justify-content: center;
    height: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(../../images/bg1.png);
    background-position: center;
    background-size: cover;
    height: 84vh;

}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(236, 144, 0, 0.5); 
    color: white;
    text-shadow: 4px 2px 3px black;
    box-shadow: 10px 5px 20px black;
    width: 60vw;
    height: 40vh;
}

#campeao {
    display: flex;
    flex-direction: column;
    height: 10vh;
    padding: 10vh;
    font-size: 40px;
    color: black;
    text-shadow: 3px 2px 5px white;
    font-weight: 600;

}


#gerar_campeao {
    padding: 10px;
    background-color: #0e353c;
    border: none;
    color: white;
    width: 15vw;
    font-size: 15px;
}

#gerar_campeao:hover {
    border: 1px solid #00ffe4;
    margin-top: -2px; /* Pra não levantar os campos #campeao e h1 */
}

footer {
    height: 8vh;
    background-color: #185c66;
    border-top: 2px solid #547a8c;
}

@media (max-width:900px) {
    h1 {
       font-size: 20px;
       text-align: center;
    }
    
    #gerar_campeao {
        width: 30vw;
    }
}


@media (max-width:600px) {
    h1 {
       font-size: 15px;
       text-align: center;
    }
    
    #campeao {
        font-size: 20px;
    }


    #gerar_campeao {
        width: 30vw;
    }
}