* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: rgb(7,0,36);
    background: radial-gradient(circle, rgba(7,0,36,1) 62%, rgba(0,18,255,1) 100%, rgba(68,70,94,1) 100%);
}

header {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 10vh;
    background-color: #000;
}

header h2 {
    color: #FFF;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    height: 82vh;
}


.slider {
    overflow: hidden;
    box-shadow: 0px 0px 20px 10px #000;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.slider--width {
    height: 80vh;
    display: flex;
    transition: all ease 0.8s;
}

.slider--item {
    width: 70vw;
    height: 80vh;
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-shadow: 5px 4px 5px #000;
    font-size: 50px;
}

.slider--item p{
    color: #FFF;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 70vh;
}

.slider--item a{
    color: #FFF;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 70vh;
    z-index: 999;
    text-decoration: none;
}

.slider--controls {
    position: absolute;
    z-index: 99;
    width: 68vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.slider--control {
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #FFF;
}

.slider--controls h2 {
    color: #FFF;
    display: flex;
    justify-content: center;

    
}


section p {
    color: white;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #000;
    height: 5vh;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}   

footer h3 a {
    text-decoration: none;
    color: #FFF;
    font-size: 17px;
}